@mixin responsive-image($name) {
  @if length($name) < 1 or length($name) > 1 {
    @warn "$dir must be a single value.";
  }

  background: {
	      image: image-url("xxs/" + $name + ".jpg");
	}

  @include breakpoint(xs) {
  		background: {
	      image: image-url("xs/" + $name + ".jpg");
	    }
  	}

	@include breakpoint(sm) {
  		background: {
	      image: image-url("sm/" + $name + ".jpg");
	    }
	}
 

	@include breakpoint(md) {
  		background: {
	      image: image-url("md/" + $name + ".jpg");
	    }
	}
  
	@include breakpoint(lg) {
		background: {
      image: image-url("lg/" + $name + ".jpg");
    }
	}
}