@import "compass";
@import "bootstrap";

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}



body {
	font-size: 10px;
	@include breakpoint(md) {
    	font-size: 14px;
  	}
	> .ember-view {
		width: 600px;
		max-width: 100%;
		margin: 0 auto;
	}
}


	
	
h1, h3 {
	color: black!important;
	text-align: center;
	letter-spacing: 4px;
	
	a {
		color: inherit;
		&:hover {
			text-decoration: none;	
		}
	}
}



h1 {
	font-size: 2.6em;
}

h3 {
	font-size: 1.7em;
}

.slick-slide img{
	margin: 0 auto;
	width: 100%;
}

.g-map-canvas {
  width: 100%;
  height: 400px;
  margin-bottom: 1em;
}

.fa-map-marker {
	font-size: 2.5em;
	margin-left: 10px;
}

div.contact {
	max-width: 85%;
}