<h1 id="title">{{#link-to "index"}}B/O/G/D/A/Ń/S/K/I{{/link-to}}</h1>
<h3 id="subtitle" class="text-uppercase">Adwokat</h3>
{{outlet}}
<footer>
	<address class="text-uppercase">
    Dane kontaktowe:<br>
    Kancelaria adwokacka<br>
    Adwokat Szymon Bogdański<br>
    <br>
    <div class="pull-left contact">
      {{#link-to "kontakt"}}53-329 Wrocław, PL. Powstańców Śląskich 17 A/216{{/link-to}}<br>
      tel. 501 358 285 / e-mail: <a href="mailto:bogdanski@lexfeni.pl">bogdanski@lexfeni.pl</a>
    </div>
    {{#link-to "kontakt"}}{{fa-icon "map-marker"}}{{/link-to}}
	</address>
</footer>