{{#slick-carousel
  class="ember-carousel"
  autoplay=true
  autoplaySpeed=4000
  slidesToShow=1
  slidesToScroll=1
  dots=true
  fade=true}}

  <div><div class="slide slide-1"></div></div>
  <div><div class="slide slide-2"></div></div>
  <div><div class="slide slide-3"></div></div>
{{/slick-carousel}}